include versioneer.py
include lume_services/_version.py
recursive-include lume_services/services/scheduling/files *
recursive-include lume_services/models/templating/template *
recursive-include lume_services/docker/files
